 .genealogy-scroll::-webkit-scrollbar 
 {
     width: 5px; 
     height: 8px; 
    }
  .genealogy-scroll::-webkit-scrollbar-track 
{ 
    border-radius: 10px; 
    background-color: #e4e4e4;
 }
 .genealogy-scroll::-webkit-scrollbar-thumb 
 { 
    background: #212121;
     border-radius: 10px; 
     transition: 0.5s;
     }
.genealogy-scroll::-webkit-scrollbar-thumb:hover 
{ 
    background: #d5b14c;
     transition: 0.5s; }
 .genealogy-body
 { white-space: nowrap;
     overflow-y: hidden;
      padding: 50px;
       min-height: 500px;
        padding-top: 10px;
     }
.genealogy-tree ul
 {
     padding-top: 20px;
     position: relative;
      /*padding-left: 10%;*/
       display: flex; 
       justify-content: center;
} 
.genealogy-tree li
 { float: left;
     text-align: center;
      list-style-type: none;
       position: relative;
        padding: 20px 5px 0 5px;
     } 
 .genealogy-tree li::before, .genealogy-tree li::after
 {
     content: ''; 
     position: absolute; 
     top: 0; 
     right: 50%;
      border-top: 2px solid #ccc;
       width: 50%; 
       height: 18px;
     }
.genealogy-tree li::after
{ 
    right: auto; 
    left: 50%;
     border-left: 2px solid #ccc; 
    }
 .genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before
{
     display: none;
     } 
.genealogy-tree li:only-child
{ 
    padding-top: 0;
 } 
.genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after
{ 
    border: 0 none;
 }
 .genealogy-tree li:last-child::before{
     border-right: 2px solid #ccc;
      border-radius: 0 5px 0 0;
       -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0; 
    }
.genealogy-tree li:first-child::after{
     border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
       -moz-border-radius: 5px 0 0 0; } 
.genealogy-tree ul ul::before{
     content: ''; 
     position: absolute;
      top: 0; left: 50%;
       border-left: 2px solid #ccc;
        width: 0; 
        height: 20px; } 
.genealogy-tree li a
{ text-decoration: none;
     color: #080707;
      font-family: arial, verdana, tahoma;
       font-size: 11px; display: inline-block;
        border-radius: 5px; 
        -webkit-border-radius: 5px; 
        -moz-border-radius: 5px; 
    } 
.genealogy-tree li a:hover+ul li::after, .genealogy-tree li a:hover+ul li::before, .genealogy-tree li a:hover+ul::before, .genealogy-tree li a:hover+ul ul::before
{ 
    border-color: #fbba00;
 }
 .member-view-box
 { padding:0px 20px;
     text-align: center; 
     border-radius: 4px; 
     position: relative; 
    }

    
 .member-image
 {
     width:auto; 
     position: relative;
    /*background-color: rgb(209, 236, 227);*/
    background-color: #abdbe6;
    padding-left:  20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
     overflow-y: hidden;
     text-align: left;

    
 }


.member-image img
{ width: 60px; 
    height: 60px;
     border-radius: 6px;
      background-color :#000; 
      z-index: 1; 

    }
body{
  /*  background:#7888DE;*/
  background-color: #0040C1;

    
    
}
h3{
  font-weight: 900;
  font-family:Arial, Helvetica, sans-serif;
}
p{
  color: #080707;
  font-size: 14px;
  font-weight:500;
  font-family:Arial, Helvetica, sans-serif;

}
#text{
    color:white;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px #87ddf1;

}
  .tap-animation {
    position: relative;
    cursor: pointer;
  }
  
  .tap-animation::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #f5f847;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .tap-animation:hover::after {
    animation: tapAnimation 0.5s ease forwards;
  }
  
  @keyframes tapAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
  }
  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

  body  {
      background-image: url('https://img.freepik.com/free-vector/abstract-realistic-technology-particle-background_23-2148420657.jpg?t=st=1715234408~exp=1715238008~hmac=a3c73e5db82399b1b44876520f899c013d2fe8b405bd5d30c7d4fbafcb15970a&w=900');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;              
  }
  
  @-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
  
  
  
  .center
  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
  }
  .center h1{
    text-align:center;
    color:white;
    font-family: 'Source Code Pro', monospace;
    text-transform:uppercase;
  }
  

  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

  .animate {
    color:white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px px #a8dbe7;


  }
  
  .animate span {
    display: inline-block;
  }
  
  
  .animate span:nth-of-type(2) {
    animation-delay: .05s;
  }
  .animate span:nth-of-type(3) {
    animation-delay: .1s;
  }
  .animate span:nth-of-type(4) {
    animation-delay: .15s;
  }
  .animate span:nth-of-type(5) {
    animation-delay: .2s;
  }
  .animate span:nth-of-type(6) {
    animation-delay: .25s;
  }
  .animate span:nth-of-type(7) {
    animation-delay: .3s;
  }
  .animate span:nth-of-type(8) {
    animation-delay: .35s;
  }
  .animate span:nth-of-type(9) {
    animation-delay: .4s;
  }
  .animate span:nth-of-type(10) {
    animation-delay: .45s;
  }
  .animate span:nth-of-type(11) {
    animation-delay: .5s;
  }
  .animate span:nth-of-type(12) {
    animation-delay: .55s;
  }
  .animate span:nth-of-type(13) {
    animation-delay: .6s;
  }
  .animate span:nth-of-type(14) {
    animation-delay: .65s;
  }
  .animate span:nth-of-type(15) {
    animation-delay: .7s;
  }
  .animate span:nth-of-type(16) {
    animation-delay: .75s;
  }
  .animate span:nth-of-type(17) {
    animation-delay: .8s;
  }
  .animate span:nth-of-type(18) {
    animation-delay: .85s;
  }
  .animate span:nth-of-type(19) {
    animation-delay: .9s;
  }
  .animate span:nth-of-type(20) {
    animation-delay: .95s;
  }
  
  
  
  
  
  
  /* Animation Three */
  
  
  .three span {
    color: #f9f4f8;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: sideSlide .5s forwards;
    font-weight: bold;
  }
  
  @keyframes sideSlide {
    60% {
      transform: translate(20px, 0) scale(1);
      color: #f3eff2;
    }
  
    80% {
      transform: translate(20px, 0) scale(1);
      color: #efe9ed;
    }
  
    99% {
      transform: translate(0) scale(1.2);
      color: #b9e0e3;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
      color: #f1edf0;
    }
  }

  #Dashboard{
    background-color:whitesmoke;
    color: black;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: inline-start;
    margin-bottom: 10px;
    

}
#Dashboard:hover{
    background-color: skyblue;
    color: white;
}
#Dashboard a{
    text-decoration: none;
    color: black;
}