/* Reset default browser styles */
body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #007bff;
} 

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
}

#Dashboard{
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: inline-start;
    margin-bottom: 10px;
    

}
#Dashboard:hover{
    background-color: #218838;
}
#Dashboard a{
    text-decoration: none;
    color: white;
}

.my-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
    margin-bottom: 10px;
    
}

.my-btn:hover {
    background-color: #218838;
}

.action-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #0056b3;
}
.notify-button.expiring {
    background-color: yellow; /* Change to your desired signal color */
    /* Add any other styles to indicate the expiry within 30 days */
}
